<div id="<%= dom_id project %>">
  <div class="square">  
    <img class="card-img-top" src=<%= project.image %> alt="Card image" height="300" width="42">
  </div>
  
  <h3 class="card-title text-white text-center"><%= project.title %></h3>

  <h6 class = "card-text text-white"><%= project.description %></h6>
      

  <div class="btn-group">
    <%= link_to "View Details", project, :class => "btn btn-dark pull-right" %>
    <a href=<%= project.github %> class="btn btn-dark" role="button">GitHub Repo</a>
  </div>
</div>
